<form class='container mt-4' method="POST" action="/courses/handle-form-actions">
    <div
        style='display: flex; justify-content: space-between; align-items: center'
    >
        <h2 class='mt-2'>Thùng rác</h2>
        <a
            href='/me/stored/courses'
            style='font-size: 22px; margin-right: 60px'
        >Khóa học của tôi</a>
    </div>
    <div style="display: flex; align-items: center; float: left; margin: 10px 0 20px 0">
        <div style="margin-right: 10px;">
            <select id="inputState" class="form-control select-course-action" name="action" required>
                <option value="">-- Hành động --</option>
                <option value="restore">Khôi phục</option>
                <option value="force-destroy">Xóa vĩnh viễn</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary course-action-btn" disabled="true">Thực hiện</button>
    </div>
    <table class='table mt-4'>
        <thead>
            <tr>
                <th scope='col'>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="courses-check-all">
                        <label class="form-check-label" for="courses-check-all">
                            Chọn tất cả
                        </label>
                    </div>
                </th>
                <th scope='col'>#</th>
                <th scope='col'>Tên</th>
                <th scope='col'>Slug</th>
                <th scope='col'>Thời gian xóa</th>
                <th scope='col'></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope='col'>
                        <div class="form-check">
                            <input 
                                class="form-check-input" type="checkbox" name="courseIds[]" 
                                value="{{this._id}}" id="checkbox-course-item"
                            >
                        </div>
                    </th>
                    <th scope='row'>{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.slug}}</td>
                    <td>{{this.deletedAt}}</td>
                    <td>
                        <a
                            href='#'
                            class='btn btn-primary'
                            id='restore-course-btn'
                            data-id='{{this._id}}'
                        >Khôi phục</a>
                        <a
                            href='#'
                            class='btn btn-primary'
                            data-toggle='modal'
                            data-target='#modal-force-destroy-course'
                            id='destroy-course-btn'
                            data-id='{{this._id}}'
                        >Xóa vĩnh viễn</a>
                    </td>
                </tr>

            {{else}}
                <tr class='text-center' style='font-size: 20px'>
                    <td colspan='5'>Thùng rác trống...</td>
                </tr>

            {{/each}}
        </tbody>
    </table>
</form>

<!-- Modal force destroy course -->
<div
    class='modal fade'
    id='modal-force-destroy-course'
    tabindex='-1'
    role='dialog'
    aria-labelledby='exampleModalLabel'
    aria-hidden='true'
>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='exampleModalLabel'>Xóa khóa học</h5>
                <button
                    type='button'
                    class='close'
                    data-dismiss='modal'
                    aria-label='Close'
                >
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                Bạn có chắc chắn muốn xóa "vĩnh viễn" khóa học này?
            </div>
            <div class='modal-footer'>
                <button
                    type='button'
                    class='btn btn-danger'
                    id='force-destroy-course-btn'
                >Xóa vĩnh viễn</button>
                <button
                    type='button'
                    class='btn btn-secondary'
                    data-dismiss='modal'
                >Hủy</button>
            </div>
        </div>
    </div>
</div>

{{! form để submit đến trang restore / force destroy course }}
<form type='submit' method='POST' name='restore-form'></form>
<form type='submit' method='POST' name='force-destroy-form'></form>

<script type='text/javascript'>

    document.addEventListener("DOMContentLoaded", (e) => {
        const restoreForm = document.forms['restore-form'];
        const forceDestroyForm = document.forms['force-destroy-form'];
        const courseActionBtn = $('.course-action-btn');
        const coursesCheckAll = $('#courses-check-all');
        const checkboxCourseItems = $('input[name="courseIds[]"');
        
        function handleToggleEnabledActionBtn() {
            const checkboxCourseItemsCheckedLength = $('input[name="courseIds[]"]:checked').length;
            const isEnabled = (checkboxCourseItemsCheckedLength > 0);
            courseActionBtn.prop('disabled', !isEnabled) 
        } 

        // Check-uncheck Chọn tất cả
        coursesCheckAll.change(function() {
            const isChecked = $(this).prop('checked');

            // Check-uncheck tất cả các checkbox course item
            checkboxCourseItems.prop('checked', isChecked);
            handleToggleEnabledActionBtn();
        })

        // checkboxCourseItems changed
        checkboxCourseItems.change(function() {
            const checkboxCourseItemsLength = checkboxCourseItems.length;
            const checkboxCourseItemsCheckedLength = $('input[name="courseIds[]"]:checked').length;
            const isCheckedAll = (checkboxCourseItemsLength === checkboxCourseItemsCheckedLength);
            
            // Check-uncheck Chọn tất cả
            coursesCheckAll.prop('checked', isCheckedAll);
            handleToggleEnabledActionBtn();
        })


        // Khôi phục khoá học
        $('#restore-course-btn').click(function() {
            const courseId = $(this).data('id');
            restoreForm.action = '/me/trash/courses/' + courseId + '/restore?_method=PATCH';
            restoreForm.submit();
        })

        // Xóa vĩnh viễn khoá học
        $('#modal-force-destroy-course').on("shown.bs.modal", (event) => {
            const forceCourseBtn = $(event.relatedTarget);
            const courseId = forceCourseBtn.data('id');
            
            $('#force-destroy-course-btn').click(() => {
                forceDestroyForm.action = '/me/trash/courses/' + courseId + '?_method=DELETE';
                forceDestroyForm.submit();
            })
        }) 
    })

    document.title = "F8 Education | Thùng rác";
</script>