<div class='container mt-4'>
    <div style="display: flex; justify-content: space-between; align-items: center">
        <h2 class='mt-4'>Khóa học của tôi</h2>
        <a href="/me/trash/courses" style="font-size: 22px; margin-right: 60px">
            Thùng rác ({{deletedCount}})
        </a>
    </div>
    <table class='table mt-4'>
        <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>Tên</th>
                <th scope='col'>Mô tả</th>
                <th scope='col'>Thời gian tạo</th>
                <th scope='col'></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope='row'>{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a
                            href='/me/stored/courses/{{this._id}}/edit'
                            class='btn btn-primary'
                        >Sửa</a>
                        <a
                            href='#'
                            class='btn btn-primary'
                            data-toggle='modal'
                            data-target='#modal-delete-course'
                            id='delete-course-btn'
                            data-id='{{this._id}}'
                        >Xóa</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal delete course -->
<div
    class='modal fade'
    id='modal-delete-course'
    tabindex='-1'
    role='dialog'
    aria-labelledby='exampleModalLabel'
    aria-hidden='true'
>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='exampleModalLabel'>Xóa khóa học</h5>
                <button
                    type='button'
                    class='close'
                    data-dismiss='modal'
                    aria-label='Close'
                >
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                Bạn có chắc chắn muốn xóa khóa học này?
            </div>
            <div class='modal-footer'>
                <button
                    type='button'
                    class='btn btn-danger'
                    id='destroy-course-btn'
                >Xóa bỏ</button>
                <button
                    type='button'
                    class='btn btn-secondary'
                    data-dismiss='modal'
                >Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- form để submit đến trang delete course --}}
<form type='submit' method="POST" name='submit-delete-course'></form>

<script type='text/javascript'>

    // Func-handler sẽ thực thi sau khi DOM được tải xong: giúp chạy được JQuery 
    document.addEventListener("DOMContentLoaded", function() { 

        // Kích hoạt khi hiển thị boostrap modal
        $('#modal-delete-course').on('shown.bs.modal', function(event) { 
            const deleteCourseBtn = $(event.relatedTarget);
            const courseId = deleteCourseBtn.data('id'); 
            const formDeleteCourse = document.forms['submit-delete-course']; 
            
            // Khi click button "Xóa bỏ" 
            $('#destroy-course-btn').click(function() { 
                formDeleteCourse.action = "/me/stored/courses/" + courseId + "/delete?_method=DELETE";
                formDeleteCourse.submit(); 
            });
        });
    });

    
    document.title = "F8 Education | Khóa học của tôi";
</script>