<div class='container'>
    <h2 class='mt-4 mb-4'>Cập nhật khoá học</h2>
    <form
        method='POST'
        action='/me/stored/courses/{{course._id}}/update?_method=PUT'
    >
        <div class='form-group'>
            <label for='name'>Tên</label>
            <input class='form-control' name='name' value='{{course.name}}' />
        </div>
        <div class='form-group'>
            <label for='description'>Mô tả</label>
            <input
                class='form-control'
                name='description'
                value='{{course.description}}'
            />
        </div>
        <div class='form-group'>
            <label for='image'>Đường dẫn hình ảnh</label>
            <input class='form-control' name='image' value='{{course.image}}' />
        </div>
        <div class='form-group'>
            <label for='videoId'>Video ID</label>
            <input
                class='form-control'
                name='videoId'
                value='{{course.videoId}}'
            />
        </div>
        <button type='submit' class='btn btn-primary'>CẬP NHẬT</button>
    </form>
</div>

<script type='text/javascript'>
    document.title = "F8 Education | Cập nhật khóa học";
</script>